{{ partial "header.html" . }}

<section class="blog-post">
    <h1>{{ .Title }}</h1>
    <div class="blog-post-subheader text-muted">
        {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }}
    </div>
    <div class="blog-post-content">
        {{ .Content }}
    </div>
</section>

{{ partial "footer.html" . }}